@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font_awesome5_webfont';

@font-face {
    font-family: 'World_Conflict';
    src: url('WorldConflict-Regular.otf');
    src: url('WorldConflict-Regular.eot');
    src: url('WorldConflict-Regular.eot?#iefix') format('embedded-opentype'),
        url('WorldConflict-Regular.woff2') format('woff2'),
        url('WorldConflict-Regular.woff') format('woff'),
        url('WorldConflict-Regular.ttf') format('truetype'),
        url('WorldConflict-Regular.svg#WorldConflict-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon MT Std';
    src: url('SabonMTStd-Regular.eot');
    src: url('SabonMTStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('SabonMTStd-Regular.woff2') format('woff2'),
        url('SabonMTStd-Regular.woff') format('woff'),
        url('SabonMTStd-Regular.ttf') format('truetype'),
        url('SabonMTStd-Regular.svg#SabonMTStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$background-color: #f9f9f9;
$menu-color: #006994;
$hover-current-color: #0098ae;

/*universal*/
html body{
  background-color: $background-color;
}

/*header*/

.header{
  background-color: $background-color;
  font-family: 'World_Conflict';
  padding-top: 20px;
  padding-bottom: 15px;
}

#logo {
  color: $menu-color;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1;
  margin-left: 5vw;
  text-decoration: none;
}

#logo:hover {
  color: $hover-current-color;
}

.header nav {
  display: inline-block;
  font-size: 1.3em;
}

.header .navbar-nav {
  position: relative;
  left: 30vw;
  top: 4.5px;
}

.header .nav > li > a {
  color: $menu-color;
  line-height: 1;
  padding-bottom: 0px;
  padding-top: 0px;
}

.header .nav > li > a:hover {
  background-color: $background-color;
  color: $hover-current-color;
}

.header .nav .active, .footer .nav .active {
  color: $hover-current-color;
}

.mobile-menu-icon {
  display: none;
}



/*body*/

.mySlides {
  display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2.5em;
    margin-bottom:0.5em;
    height: 87vh;
    
}

/*prev next buttons*/

.quotes_button {
  border: none;
  background-color: $background_color;
  color: $menu-color;
  font-size: 1.7em;
  position: absolute;
  top: 45vh;
}

.quotes_button:hover {
  background-color: $menu-color;
  color: $background-color;
}

.prev {
  left: 5vw;
}

.next {
  left: 92.5vw;
}

/*footer*/

.footer {
  font-family: 'World_Conflict';
  font-size: 1em;
}

.footer .navbar-nav .left-footer {
  postion: relative;
  left: 5vw;
  font-size: 1.4em;
}

.footer .navbar-nav .right-footer{
  position: relative;
  left: 70vw;
}

.footer .nav > li > a:hover{
  background-color: $background-color;
  color: $hover-current-color;
}

.footer .nav .current-page > a {
  color: $hover-current-color;
}

/*single pages*/

.single-page {
  font-family: 'Sabon MT Std';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  margin-left: 2em;
  width: 75vw;
  margin-top:6.5em;
  margin-bottom:0.5em;
}

/*gallery*/

.gallery-content {
  height: 80vh;
  left: -7.5vw;
  position: relative;
  width: 90vw;
}
.gallery-content {
  column-count: 4;
  column-gap: 15px;
  margin-top: 6.5em;
}

.gallery-content img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  transition: all 1.2s;
}

.gallery-content img:hover{
  cursor: pointer;
  filter: brightness(120%);
  transform: scale(1.05);
  transition: transform 1.2s, filter 1.2s ease;
}

/*about*/

.about-quotes {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  line-height: 1.7;
}

/*contact*/

.contact-content {
    height: 75vh;
}

/*imprint*/

.imprint-content{
  height: 75vh;
}

/*single quote*/
.single-quote-page{
  height: 70vh;
  left: -8.5vw;
  position: relative;
  right: -10vw;
  top: -5vh;
}
.single-quote-page {
  column-count: 2;
  column-gap: 25vw;
}

.quotes-img {
  width: 45vw;
}

.single-quote-meta {
  width: 40vw;
}

.download-btn {
  background-color: $menu-color;
  color: $background-color;
  font-family: 'World_Conflict';
  margin-right: 6vw;
}

.download-btn:hover{
  background-color: $hover-current-color;
}

.donate-btn {
  display: inline;
  position: relative;
  top: 20px;
}

.donate-text {
  margin-bottom: 100px;
}