@font-face {
    font-family: 'World Conflict';
    src: url('WorldConflict-Regular.eot');
    src: url('WorldConflict-Regular.eot?#iefix') format('embedded-opentype'),
        url('WorldConflict-Regular.woff2') format('woff2'),
        url('WorldConflict-Regular.woff') format('woff'),
        url('WorldConflict-Regular.ttf') format('truetype'),
        url('WorldConflict-Regular.svg#WorldConflict-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon MT Std';
    src: url('SabonMTStd-Regular.eot');
    src: url('SabonMTStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('SabonMTStd-Regular.woff2') format('woff2'),
        url('SabonMTStd-Regular.woff') format('woff'),
        url('SabonMTStd-Regular.ttf') format('truetype'),
        url('SabonMTStd-Regular.svg#SabonMTStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #f9f9f9;
}

.privacy{
	font-family: 'Sabon MT Std';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25em;
    margin-left: 2em;
    width: 90vw;
}

.header {
	margin-top: 0em;
	margin-bottom: 0em;
	background: #f9f9f9;
	font-family: 'World Conflict';
    font-weight: normal;
    font-style: normal;
    text-align: right;
    height: 17.5vh;
}

.header.fixed {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0em;
	margin-bottom: 0em;
	background: #f9f9f9;
	font-family: 'World Conflict';
    font-weight: normal;
    font-style: normal;
    text-align: right;
    height: 17.5vh;
}


.page_title{
	text-align: left;
	font-size: 2.2em;
    color: #006994;
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0em;
}

.page_title_link{
	text-decoration: none;
	outline: 0;
	color: #006994;
}

.top_menu_item {
	text-align: right;
	font-size: 1.2em;
	color: #006994;
	margin-right: 2em;
	margin-top: 0em;
}

hr {
	color: #006994;
	width: 95vw;
	font-family: 'World Conflict';
}

.main_quote_image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1.5em;
	margin-bottom:1.5em;
	/*width:65%;*/
	height: 69vh;
	width: 80vw;
}

.bottom_menu {
	text-align:right;
	font-family: 'World Conflict';
    font-weight: normal;
    font-style: normal;
    margin-top: 0em;
    
}

.bottom_menu_item {
	margin-right: 2em;
	color: #006994;	
	margin-top: 0em;
}