<% provide(:title, "Anthony Robbins") %>

<div class="single-quote-img">
<%= link_to image_tag("2.jpg", alt:"quote by Anthony Robbins", class: "quotes-img"), image_url('2.jpg'), target: :_blank %>
</div>