<% provide(:title, "Thomas J. Watson") %>

<div class="single-quote-img">
<%= link_to image_tag("9.jpg", alt:"quote by Thomas J. Watson", class: "quotes-img"), image_url('9.jpg'), target: :_blank %>
</div>